# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
env/

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Hatch
.hatch/

# Type checking
.mypy_cache/

# IDE
.vscode/
.idea/
